asgiref==3.10.0
cachetools==6.2.0
dj-database-url==3.0.1
Django==5.2.7
django-cors-headers==4.9.0
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
google-auth==2.41.1
pillow==11.3.0
psycopg==3.2.10
psycopg-binary==3.2.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyJWT==2.10.1
python-dotenv==1.1.1
redis==6.4.0
rsa==4.9.1
sqlparse==0.5.3
tzdata==2025.2
